section article{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #1a1a1e;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
}

section .tall p{
    color:white;
    position: relative;
    font-size: 0.8rem;
    padding: 1rem;
    box-sizing: border-box;
    z-index: 2;
    text-align: left;
}

section .tall div span:nth-child(1){
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #0f3460;
    z-index: -2;
}

section .tall div span:nth-child(2){
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #e94560;
    text-align: right;
    line-height: 3rem;
    font-size: 1rem;
    z-index: -1;
}

.resultgraph-title{
    margin-top: 2rem;
    margin-bottom: 2rem;

    h2{
        text-align: center;
        padding: 1rem;
        font-size: 2rem;
        font-family: 'Do Hyeon', sans-serif;
    }
}

// 질문0825-2