.resultcard-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-top: 15px solid #E8D9FF;

    h2{
        text-align: center;
        padding: 1rem;
        font-size: 2rem;
        font-family: 'Do Hyeon', sans-serif;
    }
}