.MyProgressBar{
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 1rem;
}

.example-container{
    background-color: #E8D9FF;
    border: 1px solid darken($color: #f8f8f8, $amount: 10%);
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 1.5rem 3rem;

    h1{
        font-family: 'Do Hyeon', sans-serif;
        color: #333;
        font-size: 4rem;
        text-align: center;
    }

    p{
        font-family: 'Black Han Sans', sans-serif;
        color: #333;
        font-size: 1.5rem;
        text-align: center;
    }
}

.button-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    
    a:link {
        text-decoration: none;
    }

    .button-container button{
        width: 100%;
    }


    a.page-button-home button{
        background-color: #ea4355;
        font-family: 'Black Han Sans', sans-serif;
        font-size: 2rem;
        color: white;
        cursor: pointer;
        padding: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        display: block;
        border: 3px solid #ea4355;
        border-radius: 20px;
        text-align: center;
        transition: 0.3s linear all;
    }

    a.page-button-home button:hover{
        background-color: darken($color: #ea4355, $amount: 10%);
        border: 3px solid darken($color: #ea4355, $amount: 10%);
        box-shadow: 0 0 8px 0 #ea4355;
    }

    .page-button-start {
        background-color: #1da1f2;
        font-family: 'Black Han Sans', sans-serif;
        font-size: 2rem;
        color: white;
        cursor: pointer;
        padding: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        display: block;
        border: 3px solid #1da1f2;
        border-radius: 20px;
        text-align: center;
        transition: 0.3s linear all;
    }

    .page-button-start:hover {
        background-color: darken($color: #1da1f2, $amount: 10%);
        border: 3px solid darken($color: #1da1f2, $amount: 10%);
        box-shadow: 0 0 8px 0 #1da1f2;
    }

    a.page-button-start button:disabled:hover{
        background-color: #EAEAEA;
        box-shadow: 0 0 8px 0 #EAEAEA;
    }

}

.custom-toast {
    
    .Toastify__toast-body {
        color: #333;
        font-size: 1.5rem;
        font-family: 'Do Hyeon', sans-serif;
    }

}
