.result-container{
    background-color: #E8D9FF;
    border: 1px solid darken($color: #f8f8f8, $amount: 10%);
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 1.5rem 3rem;

    h1{
        font-family: 'Do Hyeon', sans-serif;
        color: #333;
        font-size: 3rem;
        text-align: center;
    }

    p{
        font-family: 'Do Hyeon', sans-serif;
        color: #333;
        font-size: 1.5rem;
        text-align: center;
    }

}

.result-display-container{
    background-color: #f8f8f8;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}



.restart-button-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    
    a:link {
        text-decoration: none;
    }

    .restart-button-container button{
        width: 100%;
    }

    a.restart button:enabled{
        background-color: #ffa500;
        font-family: 'Black Han Sans', sans-serif;
        font-size: 2rem;
        color: white;
        cursor: pointer;
        padding: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        display: block;
        border: 3px solid #ffa500;;
        border-radius: 20px;
        text-align: center;
        transition: 0.3s linear all;
    }

    a.page-button-result button:enabled:hover{
        background-color: darken($color: #ffa500, $amount: 10%);
        border: 3px solid darken($color: #ffa500, $amount: 10%);
        box-shadow: 0 0 8px 0 #ffa500;
    }

}